# ETL Techniques 1
This notebook is used to list the techniques for ETL that I learned from Udacity Data Science Nanodegree program.

In [1]:
import pandas as pd

In [29]:
my_data = 'projects_data.csv'

In [3]:
df = pd.read_csv (my_data, dtype=str)

In [4]:
df.head()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P163962,Africa,Democratic Republic of the Congo;Democratic Re...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN

In [6]:
df.isnull()

,id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,...,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,Unnamed: 56
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18243,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
18244,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
18245,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
18246,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True
18247,False,False,False,False,False,False,True,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [7]:
df.isnull().sum()

id                              0
regionname                      0
countryname                     0
prodline                        0
lendinginstr                  246
lendinginstrtype              246
envassesmentcategorycode     5811
supplementprojectflg           53
productlinetype                 0
projectstatusdisplay            4
status                          4
project_name                    0
boardapprovaldate            1504
board_approval_month         1504
closingdate                  3349
lendprojectcost               125
ibrdcommamt                     0
idacommamt                      0
totalamt                        0
grantamt                        0
borrower                     5919
impagency                    6097
url                             0
projectdoc                  18248
majorsector_percent         18248
sector1                         0
sector2                      8721
sector3                     11761
sector4                     13872
sector5                     15535
sector                        638
mjsector1                   18248
mjsector2                   18248
mjsector3                   18248
mjsector4                   18248
mjsector5                   18248
mjsector                      638
theme1                          0
theme2                       8395
theme3                      10764
theme4                      13014
theme5                      15320
theme                       18248
goal                         6115
financier                   11188
mjtheme1name                18248
mjtheme2name                18248
mjtheme3name                18248
mjtheme4name                18248
mjtheme5name                18248
location                    13922
GeoLocID                    13922
GeoLocName                  13923
Latitude                    13922
Longitude                   13922
Country                     14045
Unnamed: 56                 18248
dtype: int64

In [32]:
df.isnull().sum(axis=1)

0        35
1        34
2        36
3        32
4        23
         ..
18243    33
18244    33
18245    33
18246    33
18247    33
Length: 18248, dtype: int64

In [8]:
df.shape

(18248, 57)

In [24]:
f = open(my_data)

In [25]:
f.readline()

'id,regionname,countryname,prodline,lendinginstr,lendinginstrtype,envassesmentcategorycode,supplementprojectflg,productlinetype,projectstatusdisplay,status,project_name,boardapprovaldate,board_approval_month,closingdate,lendprojectcost,ibrdcommamt,idacommamt,totalamt,grantamt,borrower,impagency,url,projectdoc ,majorsector_percent ,sector1,sector2,sector3,sector4,sector5,sector,mjsector1,mjsector2,mjsector3,mjsector4,mjsector5,mjsector,theme1,theme2,theme3,theme4,theme5,theme ,goal,financier,mjtheme1name,mjtheme2name,mjtheme3name,mjtheme4name,mjtheme5name,location,GeoLocID,GeoLocName,Latitude,Longitude,Country,\n'

In [26]:
for i in range(10):
    line = f.readline()
    print('line: ', i, line)
f.close()

line:  0 P162228,Other,World;World,RE,Investment Project Financing,IN,C,N,L,Active,Active, Creating a Trade in Value-Added Database for Africa,2018-06-28T00:00:00Z,June,,"500,000","0","0","0","500,000",,,http://projects.worldbank.org/P162228?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  1 P163962,Africa,Democratic Republic of the Congo;Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,Active,Productive Inclusion Project,2018-06-28T00:00:00Z,June,2023-12-31T00:00:00Z,"200,000,000","0","200,000,000","200,000,000","0",,,http://projects.worldbank.org/P163962?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  2 P167672,South Asia,People's Republic of Bangladesh;People's Republic of Bangladesh,PE,Investment Project Financing,IN,,Y,L,Active,Active,Additional Financing for Health Sector Support Project,2018-06-28T00:00:00Z,June,,"50,000,000","0","58,330,000","58,330,000","0",,,http://projects.worldbank.org/P167672?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  3 P158768,South Asia,Islamic  Republic of Afghanistan;Islamic  Republic of Afghanistan,PE,Investment Project Financing,IN,A,N,L,Active,Active,Public-Private Partnerships and Public Investment Advisory Project,2018-06-27T00:00:00Z,June,2023-06-28T00:00:00Z,"50,000,000","0","20,000,000","20,000,000","0",IIST,IIST,http://projects.worldbank.org/P158768?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  4 P161364,Africa,Federal Republic of Nigeria;Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,Active,Nigeria For Women Project,2018-06-27T00:00:00Z,June,2023-05-31T00:00:00Z,"100,000,000","0","100,000,000","100,000,000","0",,,http://projects.worldbank.org/P161364?lang=en,,,Social Protection!$!63!$!SA,Other Industry; Trade and Services!$!25!$!YZ,Other Agriculture; Fishing and Forestry!$!2!$!AZ,Other Public Administration!$!10!$!BZ,,Social Protection;Social Protection;Other Industry; Trade and Services;Other Agriculture; Fishing and Forestry;Other Public Administration,,,,,,Social Protection;Social Protection;Industry; Trade and Services;Agriculture; Fishing and Forestry;Public Administration,!$!0,,,,,,,,,,,,,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;0002328925!$!Niger State!$!10!$!6!$!NG;0002565340!$!Abia State!$!5.41667!$!7.5!$!NG;0002565343!$!Edo!$!6.5!$!6!$!NG;0002597363!$!Kebbi State!$!11.5!$!4!$!NG;0002597366!$!Taraba State!$!8!$!10.5!$!NG,0002327546;0002328925;0002565340;0002565343;0002597363;0002597366,Ogun State;Niger State;Abia State;Edo;Kebbi State;Taraba State,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,

line:  5 P161483,Middle East and North Africa,Republic of Tunisia;Republic of Tunisia,PE,Development Policy Lending,AD,,N,L,Active,Active,Tunisia Investment; Competitiveness and Inclusion,2018-06-27T00:00:00Z,June,2019-12-31T00:00:00Z,"500,000,000","500,000,000","0","500,000,000","0",EET,IIST,http://projects.worldbank.org/P161483?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  6 P161885,Africa,Federal Republic of Nigeria;Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,Active,Nigeria Electrification Project,2018-06-27T00:00:00Z,June,2023-10-31T00:00:00Z,"765,000,000","0","350,000,000","350,000,000","0",,,http://projects.worldbank.org/P161885?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  7 P162069,Africa,Federal Republic of Nigeria;Federal Republic of Nigeria,PE,Investment Project Financing,IN,B,N,L,Active,Active,Nigeria- Accelerating Nutrition Results,2018-06-27T00:00:00Z,June,2023-12-31T00:00:00Z,"232,000,000","0","225,000,000","225,000,000","0",CIATI,,http://projects.worldbank.org/P162069?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  8 P163540,Africa,Federal Republic of Nigeria;Federal Republic of Nigeria,PE,Investment Project Financing,IN,C,N,L,Active,Active,Fiscal Governance and Institutions Project,2018-06-27T00:00:00Z,June,2022-12-31T00:00:00Z,"125,000,000","0","125,000,000","125,000,000","0",,,http://projects.worldbank.org/P163540?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

line:  9 P163576,Middle East and North Africa,Lebanese Republic;Lebanese Republic,PE,Program-for-Results,PR,,N,L,Active,Active,Creating Economic Opportunities - Lebanon National Jobs Program,2018-06-27T00:00:00Z,June,2023-12-31T00:00:00Z,"695,000,000","329,900,000","0","329,900,000","0",IIST,IIST,http://projects.worldbank.org/P163576?lang=en,,,!$!0,,,,,,,,,,,,!$!0,,,,,,,,,,,,,,,,,,,

In [30]:
df_skip = pd.read_csv(my_data, skiprows=2)

In [31]:
df_skip.head()

,P163962,Africa,Democratic Republic of the Congo;Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
3,P161483,Middle East and North Africa,Republic of Tunisia;Republic of Tunisia,PE,Development Policy Lending,AD,NaN,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161885,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_drop = df_skip.drop('South Asia', axis=1)

KeyError: "['South Asia'] not found in axis"

In [36]:
df_skip[df_skip.isnull().any(axis=1)]

,P163962,Africa,Democratic Republic of the Congo;Democratic Republic of the Congo,PE,Investment Project Financing,IN,B,N,L,Active,...,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56
0,P167672,South Asia,People's Republic of Bangladesh;People's Repub...,PE,Investment Project Financing,IN,NaN,Y,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,P158768,South Asia,Islamic Republic of Afghanistan;Islamic Repu...,PE,Investment Project Financing,IN,A,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P161364,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,0002327546!$!Ogun State!$!7!$!3.58333!$!NG;000...,0002327546;0002328925;0002565340;0002565343;00...,Ogun State;Niger State;Abia State;Edo;Kebbi St...,7;10;5.41667;6.5;11.5;8,3.58333;6;7.5;6;4;10.5,NG;NG;NG;NG;NG;NG,NaN
3,P161483,Middle East and North Africa,Republic of Tunisia;Republic of Tunisia,PE,Development Policy Lending,AD,NaN,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P161885,Africa,Federal Republic of Nigeria;Federal Republic o...,PE,Investment Project Financing,IN,B,N,L,Active,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18241,P006578,Latin America and Caribbean,Republic of Chile;Republic of Chile,PE,Specific Investment Loan,IN,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18242,P037451,Europe and Central Asia,Grand Duchy of Luxembourg;Grand Duchy of Luxem...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18243,P037362,Europe and Central Asia,Kingdom of Denmark;Kingdom of Denmark,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18244,P037452,Europe and Central Asia,Kingdom of the Netherlands;Kingdom of the Neth...,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18245,P037383,Europe and Central Asia,French Republic;French Republic,PE,Structural Adjustment Loan,AD,NaN,N,L,Closed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN